<div class="row d-inline justify-content-sm-start">
  <h2 [ngStyle]="{color: hintColor}">{{isEditing ? 'Edit comment' : 'Add a new comment'}}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="comForm" class="form">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline" color="primary">
          <mat-label>Author Name:</mat-label>
          <input matInput
                 placeholder="Author"
                 type="text" [formControl]="comForm.controls.commentAuthor"
                 autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline" color="primary">
          <mat-label>Email:</mat-label>
          <input matInput
                 placeholder="example@example.com"
                 type="email" [formControl]="comForm.controls.commentEmail"
                 required>
          <mat-error *ngIf="comForm.controls.commentEmail.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline" color="primary">
          <mat-label>Content:</mat-label>
          <textarea matInput
                    placeholder="Content"
                    [formControl]="comForm.controls.commentContent"
                    required></textarea>
        </mat-form-field>
      </div>
      <div class="d-flex">
      <button mat-raised-button appearence="fill" type="submit" color="accent" [disabled]="!comForm.valid">Submit</button>
      <button mat-raised-button type="button" appearence="fill" color="primary" (click)="onCommentCancel()">Cancel</button>
      </div>
    </div>
  </form>
  <div class="row d-inline justify-content-sm-start">
    <h2 [ngStyle]="{color: hintColor}">All comments:</h2>
      <div class="col-3 mb-4" *ngFor="let comment of comments">
        <mat-card>
          <mat-card-title>{{comment.commentAuthor}}</mat-card-title>
          <mat-card-content>
            <p>{{comment.commentEmail}}</p>
          </mat-card-content>
          <mat-card-content>
            <p>{{comment.commentContent}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="View Comment" (click)="onViewComment(comment.id)"><mat-icon>mode_comment</mat-icon></button>
            <button mat-button matTooltip="Reply to Comment"><mat-icon>insert_comment</mat-icon></button>
            <button mat-button matTooltip="Edit Comment" (click)="onEditComment(comment)"><mat-icon>edit</mat-icon></button>
            <button mat-button matTooltip="Delete Comment" (click)="onDeleteComment(comment.id)"><mat-icon>delete</mat-icon></button>
          </mat-card-actions>
          <mat-card-footer align="end">Created At: {{comment.createdAt | date: 'shortTime'}} <br>
            Updated At: {{comment.updatedAt | date: 'shortTime'}}</mat-card-footer>
        </mat-card>
      </div>
  </div>
</div>

