<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3"  *ngIf="post">
    <mat-card>
      <mat-card-header [ngStyle]="{color: postColor}">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.subTitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>{{post.content}}</mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon></button>
        <button mat-button (click)="replyPost(post.id)"><mat-icon>reply</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer align="end">Created At: {{post.createdAt | date}} <br>
        Updated At: {{post.updatedAt | date}}</mat-card-footer>
    </mat-card>
    </div>
  </div>
</div>
